
/* ---------- GENERAL -------- */
body{
  font-family: 'Playfair Display', serif;
  background-color: #f3f3f3;
 }

nav ul a,
nav .brand-logo {
  color: #c0b283;
}

a{
  color: #c0b283;
}
nav{
  background-color: #373737;
}

p {
  line-height: 2rem;
  color: #2a2a2a;
}

h2{
  margin-top: 200px;
  font-weight: 900;
  color: #373737;
}

h3, h5{
  color: #303030;
}

i {
  color: #c0b283;
}

p{
  font-size: 20px;
}

.parallax-container {
  min-height: 100vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }

button {
  height: 40px;
  width: 140px;
  font-size: 24px;
  background: none;
  border: 3px solid #303030;
  color: #303030;
}

button:hover {
  background-color: #303030;
  color: #c0b283;
}

button:hover i{
  color: #c0b283;
}


/* ---------- HEADER -------- */

#videobg{
   position: static; 
   top: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
  opacity: 0.2;
}

#heading{
  margin-top: 400px;
  color: #303030;
}


#bg1, #bg2, #bg3{
  opacity: 0.6;
  min-width: 100%;
}


#project_heading{
  color: #303030;
  margin-top: 200px;
}

/* ---------- ABOUT -------- */


#aboutRow{
  margin-top: -130px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


/* ---------- PORTFOLIO SECTION -------- */



.project_thumb {
  width: 205px;
  margin: 55px;
}

.project_thumb2{
  height: 205px;;
  margin-top: -10px;
  margin-left: 20px;
}

.project_thumb3{
  height: 205px;;
  margin-top: 30px;
  margin-left: 40px;
}

.project_img {
  margin-top: 50px;
  height: 150%;
  width: 150%;
}

.ofa_project_img{
  height: 90%;
  width: 90%;
}

.project_description{
  margin-top: 15px;
}

.project_name {
  margin: 0 auto;
  margin-top: 20px;
}

.project_odd {
  background-color: #ffffff;
  margin: 30px;
  height: 375px;
}

.learn_more{
  margin-top: -15px;
  margin-right: 20px;
  float: right;
}

.learn_more_ofa{
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.learn_more_cpw {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}
/* ------- FOOTER --------*/

footer{
  background-color: #303030;
}

.page-footer .grey {
  background-color: #303030;
}


.build_email {
  color:#303030;
}


#footerText{
  font-size: 18px;
  color: #000000;
  background-color: rgb(0,0,0, 0.001); 
}

footer.page-footer {
  margin: 0;
  background-color: #c0c0c0
}

/* ------- RESPONSIVE ------*/
@media screen and ( max-width: 1309px){

  .project_odd {
    height: 450px;
  }

  .learn_more{
  margin-top: 0px;
  margin-right: 20px;
  float: right;
}

.learn_more_ofa{
  float: right;
  margin-top: -10px;
  margin-right: 20px;
}

.learn_more_cpw {
  float: right;
  margin-top: 0px;
  margin-right: 20px;
}

.project_name {
  font-size: 45px;
}

}

@media screen and ( max-width: 1309px){
  .learn_more_ofa {
    margin-top: -35px;
  }
}

@media screen and ( max-width: 650px){
  .project_odd{
    height: 800px;
  }

  .learn_more{
    margin-top: -20px;
  }

  .about_writeup {
    margin-top: -160px;
  }

  #footerText{
    font-size: 14px;
  }
}

@media screen and ( min-width: 400px){

  .prokject_odd{
    height: 800px;
  }

}


@media screen and (min-width: 1017px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .img-container{
  height: 234px;
  width: 100%;
  overflow: hidden;
  }
}

@media screen and (min-width: 800px){
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .img-container{
  height: 100%;
  width: 400px;
  overflow: hidden;
  }
}

@media (min-width : 601px ) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .img-container{
  height: 234px;
  width: 100%;
  overflow: hidden;
  }
}

@media (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .videobg{
    width: 30%;
    height: 30%;
    opacity: 0.4;
  }

  .paralax-container {
    float: left;
    clear:  both;
  }
  
  .project_odd {
    height: 700px;
  }
  .img-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

  #heading{
    margin-top: 65px;
  }

  #index-banner{
    height: 300px;
  }

  #bg1 {
    margin-left: -575px;
    opacity: 0.2;
  }
}

@media (max-width : 400px){
  .project_odd {
    height: 900px;
  }


}



